{% extends 'base.html' %}
{%block content %}
<div class="container">
    <div class="text-center">
        <h1>PITCHER</h1>
        <h4><em>Let's see what you got!</em></h4>
        <button class="btn btn-lg bg-primary">CREATE NEW PITCH</button>
    </div>
    <hr>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 business">
            <img src="https://images.unsplash.com/photo-1444653614773-995cb1ef9efa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80" alt="Image" width="100%">
        </div>
        <div class="col-md-6">
            <img src="https://images.unsplash.com/photo-1444653614773-995cb1ef9efa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80" alt="Image" width="100%">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <img src="https://images.unsplash.com/photo-1444653614773-995cb1ef9efa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80"
                alt="Image" width="100%">
        </div>
        <div class="col-md-6">
            <img src="https://images.unsplash.com/photo-1444653614773-995cb1ef9efa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80"
                alt="Image" width="100%">
        </div>
    </div>
</div>
{%endblock%}