{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{%block content %}
<div class="container">
    <div class="text-center">
        <h1>PITCHER</h1>
        <h4><em>Let's see what you got!</em></h4>
        <button class="btn btn-lg bg-primary"><a href="/newpitch" class="tag"> CREATE NEW PITCH</a></button>
    </div>
    {%for pitch in promotionPitches%}
    {{pitch.pitch_title}}
    {%endfor%}
    <hr>
</div>
{%for pitch in pitches %}
<div class="container">
    <div class="">
        <div>
            <h4>Category: {{pitch.pitch_category}}</h4>
        </div>
        <div>
            <h6>Title: {{pitch.pitch_title}}</h6>
        </div>
        <div>
            <h6>{{pitch.pitch_comment}}</h6>
            <p>Posted on {{pitch.posted}}</p>
            <a href="/{{pitch.id}}?like=1">
                <img src="../static/icons/icons8-good-quality (1).gif" alt="Icon" width="40px" height="40px"></a>
            {{pitch.likes}} <a href="/{{pitch.id}}?dislike=1">
                <img src="../static/icons/icons8-thumbs-down-64.png" alt="Down" width="40px" height="40px"></a>
            {{pitch.dislikes}}
        </div>
    </div>
    <hr>
</div>


{%endfor%}
{%endblock%}