{% import 'bootstrap/wtf.html' as wtf%}

{%extends "base.html" %}

{%block content%}

<h1 class="text-center">PITCHES DASHBOARD</h1>
{%for pitch in pitches %}
<div class="container">
    <div class="">
        <div>
            <h4>{{pitch.pitch_category}}</h4>
        </div>
        <div>
            <h6>{{pitch.pitch_title}}</h6>
        </div>
        <div>
            <h6>{{pitch.pitch_comment}}</h6>
            <p>Posted on {{pitch.posted}}</p>
            <a href="/comments/{{pitch.id}}?like=1">
            <img src="../static/icons/thumbs_up.gif" alt="Icon" width="40px" height="40px"></a>
                {{pitch.likes}} <a href="/comments/{{pitch.id}}?dislike=1">
            <img src="../static/icons/icons8-unlike-48.png" alt="Down" width="40px" height="40px"></a>
            {{pitch.dislikes}}
        </div>
        {{wtf.quick_form(commentForm)}}
    </div>
    <hr>
</div>


{%endfor%}

{%endblock%}